.Rproj.user
.Rhistory
.RData
dpcR_article.Rproj
Burdukiewicz_et_al_NAR.log
Burdukiewicz_et_al_NAR.bbl
Burdukiewicz_et_al_NAR.blg
Burdukiewicz_et_al_NAR.idx
Burdukiewicz_et_al_NAR.ilg
Burdukiewicz_et_al_NAR.ind
Burdukiewicz_et_al_NAR.synctex.gz
Burdukiewicz_et_al_NAR.aux
